.swiper, .swiper-button {
    height: 60px;
}

.swiper, .swiper-button {
    font-family: monospace;
    font-weight: 800;
    user-select: none;
    line-height: 1;
}

.bg-blue {
    background: #177cd6;
}

.bg-green {
    background: #00e676;
}

.swiper, .swiper-button {
    align-items: center;
}

.swiper {
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    color: #ffffff;
    box-sizing: border-box;
    display: none;
}

.swiper-button {
    width: 90px;
    background: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding-right: 15px;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    backdrop-filter: blur(8px);
    cursor: pointer;
    display: flex;
}

.swiper-button span {
    font-size: 36px;
}

.swiper-info {
    line-height: 1;
    min-width: 180px;
    text-align: center;
    z-index: 3;
}