@font-face {
	font-family: gnormal;
	src: url("./regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: gbold;
	src: url("./bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}